{% extends "basic-template.html" %}
{% load static %}
{% block private_style %}
<link href="{% static 'homepage/justified-nav.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
    Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
      <h3 class="text-muted">EatEatEat</h3>
      <nav>
        <ul class="nav nav-justified">
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="#">Make an Order</a></li>
          <li><a href="{% url 'learn_more' %}">Fast Food</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>What is EatEatEat?</h1>
      <p class="lead">EatEatEat is a fast food delivery site where you can rush in and pick up
      your meal from the restaurants all over the world.</p>
      <p><a class="btn btn-lg btn-success" href="{% url 'signin' %}" role="button">Sign In today</a></p>
    </div>

    <!-- Some stupid introduction -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Fast Food should be Fast</h2>
        <p>The time you have to wait for the arrival of the food should be minimized.
        Waiting is a waste of your precious time to get your food. Now that you are <em>that busy</em>
        to have fast food, we dare not waste you a single minute. For that, we
        optimize every stage of the process to bring the food to you as fast as possible.
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>As many varieties as possible</h2>
        <p>The variety of fast food should be as vast as possible.
        The makers of this site were deeply addictive to fast food when they were working
        for a Lab as their life was too busy for a well schedualed meal at the school canteen.
        What's worse, at that time the available kinds of dishes and restaurants were
        very limited, so their receipts had to repeat very often, which hurt their appetite.
        We made this site to prevent tragedy like this from happening on you once and for good.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Reasonable Price</h2>
        <p>For those reply nearly half of their food supply on fast food, the price of every meal made up of
        fast food become critical. We try our best to make the price of our food as cheap as possible. In fact,
        we are almost operating non-profitially on this site currectly</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
      <p>&copy; 2016 Company, Inc.</p>
    </footer>

</div> <!-- /container -->
{% endblock %}
