{% extends "basic-template.html" %}
{% load static %}
{% block private_style %}
<link href="{% static "homepage/cover.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">EatEatEat</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="{% url 'signin' %}">Sign In/Sign Up</a></li>
              <li><a href="#">Make an Order</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Order your beloved fast food in one second.</h1>
        <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <p class="lead">Hungry? Too busy to step out of your dorm for a lunch?</p>
        <p class="lead">Then EatEatEat is totally for you!</p>
        <p class="lead">Take a look at all those delicious fast food we have for you here</p>
        <p class="lead">
        <a href="{% url 'learn_more' %}" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>

      <!-- Respect original author's work -->
      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
